<template>
	<MdCard id="page-account">
		<MdProgressSpinner v-if="!finishedLoading" md-mode="indeterminate" />
		<NotFoundComponent v-else-if="!hasFoundAccount" />
		<div v-else>
			<h1>{{ user.userName }}</h1>
			<p>{{ user.points }} points</p>
			<div>
				<h2>Questions asked</h2>
				<div v-for="question of user.questions" :key="question.id">
					{{ question.points }} - {{ question.title }} <br />
				</div>
				<h2>Questions answered</h2>
				<div v-for="answer of user.answers" :key="answer.id">
					{{ answer.title }} <br />
				</div>
			</div>
		</div>
	</MdCard>
</template>

<script>
import NotFoundComponent from "../../errors/components/NotFoundComponent";

export default {
	name: "Account",
	components: {
		NotFoundComponent
	},
	props: ["id"],
	async created() {
		this.getAccountData();
	},
	data() {
		return {
			finishedLoading: false,
			hasFoundAccount: false,
			user: {
				id: 1234,
				userName: "Igor",
				points: 102
			}
		};
	},
	methods: {
		getAccountData: function() {
			console.log("getAccountData()\n" + this.id);
			this.$http
				.get("accounts/get", { params: { Id: this.id } })
				.then(response => {
					console.log("RECEIVED:" + JSON.stringify(response.data));
					this.finishedLoading = true;
					this.hasFoundAccount = true;
					this.user = response.data;
					document.title = "Answers - " + this.user.userName;
				})
				.catch(error => {
					console.log(error);
					this.finishedLoading = true;
					this.hasFoundAccount = false;
				});
		}
	}
};
</script>

<style scoped>
#page-account {
	width: 300px;
	margin: 3em auto;
	padding: 2em;
}
</style>
