<template>
	<MdCard id="login">
		<h1 class="md-display-1">Login</h1>

		<md-field>
			<md-input
				id="username"
				name="username"
				type="text"
				placeholder="Enter a title..."
				v-model="emailAddress"
			/>
		</md-field>

		<md-field>
			<md-input
				id="password"
				name="password"
				type="password"
				placeholder="Enter a password..."
				v-model="password"
			/>
		</md-field>

		<template v-if="!isLoggingIn">
			<div id="confirmationButtonArea">
				<MdButton v-on:click="logIn()" class="md-raised md-primary"
					>Log in</MdButton
				>
			</div>
		</template>
		<template v-else>
		<MdProgressSpinner md-mode="indeterminate"/>
		</template>
	</MdCard>
</template>

<script>
import { mapActions } from "vuex";

export default {
	name: "Login",
	props:{origin: null},
	data() {
		return {
			emailAddress: "",
			password: "",
			isLoggingIn: false
		};
	},
	methods: {
		...mapActions(["setAccessToken"]),
		logIn() {
			this.isLoggingIn = true;
			this.$http
				.post("/accounts/login", {
					EmailAddress: this.emailAddress,
					Password: this.password
				})
				.then(response => {
					let token = response.data.token;
					this.setAccessToken(token);
					this.isLoggingIn = false;
					this.$router.push(this.origin || '/');
				})
				.catch(error => {
					console.log(error);
					this.isLoggingIn = false;
				});
		}
	}
};
</script>

<style scoped>
#login {
	width: 300px;
	margin: 0 auto;
	padding: 12px;
}
</style>
