<template>
	<MdCard id="page-about">
		<h1>Create an account</h1>

		<form @submit.prevent="signUp()">

			<p v-if="formErrors.length">
				<b>Please correct the following error(s):</b>
				<ul>
					<li v-for="error in formErrors" :key="error">{{ error }}</li>
				</ul>
			</p>

			<md-field>
				<md-input
					v-model="emailAddress"
					type="email"
					placeholder="Enter an email address..."
					required
				/>
			</md-field>

			<md-field>
				<md-input
					v-model="userName"
					type="text"
					placeholder="Enter a username..."
					required
				/>
			</md-field>

			<md-field>
				<md-input
					v-model="password"
					type="password"
					placeholder="Enter a password..."
					required
				/>
			</md-field>
			<md-field>
				<md-input
					v-model="repeatPassword"
					type="password"
					placeholder="Repeat password..."
					required
				/>
			</md-field>

			<div id="confirmationButtonArea" class="md-card-actions md-alignment-right">
				<MdButton
					class="md-primary"
					type="submit"
				>
					Sign Up
				</MdButton>
			</div>
		</form>
	</MdCard>
</template>

<script>
export default {
	name: "SignUp",
	props: ["jwt"],
	data() {
		return {
			formErrors: [],
			emailAddress: "",
			userName: "",
			password: "",
			repeatPassword: ""
		};
	},
	methods: {
		signUp: function() {
			console.log("signUp");
			this.formErrors = [];
			if (!this.emailAddress) {
				this.formErrors.push("Email address required.");
			}
			if (!this.userName) {
				this.formErrors.push("Username required.");
			}
			if (!this.password) {
				this.formErrors.push("Password required.");
			}
			if (this.password !== this.repeatPassword) {
				this.formErrors.push("Passwords do not match.");
			}
			if (this.formErrors.length) return;

			console.log("Everything correct");
			let router = this.$router;
			this.$http
				.post("/accounts/signup", {
					EmailAddress: this.emailAddress,
					Password: this.password,
					Username: this.userName
				})
				.then(function(response) {
					console.log(response);
					router.push({name: "accountCreated"});
				})
				.catch(function(error) {
					console.log(error);
				});

		}
	}
};
</script>

<style scoped>
#page-about {
	width: 400px;
	margin: 2em auto;
	padding: 1em 3em;
}
</style>
