<template>
	<div id="pageHome">
		<h1>Ask a question</h1>

		<h2 class="md-display-1">Title</h2>
		<md-field>
			<md-input
				id="question"
				name="question"
				type="text"
				placeholder="Enter a title..."
				v-model="searchString"
			/>
		</md-field>

		<SimilarQuestions ref="SimilarQuestions" />

		<h2 class="md-display-1">Body</h2>
		<MarkdownEditor id="markdown-editor" ref="MarkdownEditor" />

		<input v-model="tagList" type="text" />

		<div id="confirmationButtonArea">
			<MdButton v-on:click="postQuestion()" class="md-raised md-primary"
				>Post Your Question</MdButton
			>
		</div>
	</div>
</template>

<script>
import SimilarQuestions from "../components/SimilarQuestions.vue";
import MarkdownEditor from "../../plugins/markdown/MarkdownEditor.vue";
import { mapState } from "vuex";

export default {
	name: "home",
	components: {
		SimilarQuestions,
		MarkdownEditor
	},
	data() {
		return {
			searchString: "",
			tagList: ""
		};
	},
	watch: {
		searchString: function(oldValue, newValue) {
			this.$refs.SimilarQuestions.updateSearchString(newValue);
		}
	},
	computed: {
		...mapState(["accessToken"])
	},
	methods: {
		postQuestion: function() {
			let markdown = this.$refs.MarkdownEditor.markdown;
			let tagList = [this.tagList];
			let router = this.$router;
			console.log("BODY:" + markdown);
			console.log("TAGS:" + tagList);
			this.$http
				.post("/questions/create", {
					JsonWebToken: this.accessToken,
					title: this.searchString,
					content: markdown,
					tags: tagList
				})
				.then(function(response) {
					router.push({ name: "question", params: { id: response.data.id } });
				})
				.catch(function(error) {
					console.log(error);
				});
		}
	}
};
</script>

<style scoped lang="scss">
h2 {
	text-align: left;
}
a {
	color: #42b983;
}

#pageHome {
	margin: auto;
	max-width: 600px;
}

#pageHome .md-button {
	float: right;
}

#confirmationButtonArea {
	margin: 48px 6px;
	height: 100px;
}
</style>
