<template>
	<MdCard id="pageTag">
		<template v-if="isLoading">
			<MdProgressSpinner md-mode="indeterminate" />
		</template>
		<NotFoundComponent v-else-if="!hasBeenFound" />
		<template v-else>
			<template v-if="!editing">
				<h1>{{ tag.title }}</h1>
				<p>{{ tag.description }}</p>
				<div id="actionBar">
					<div @click="deleteTag()" class="actionLink">Delete</div>
					<div @click="editing = true" class="actionLink">Edit</div>
				</div>
			</template>
			<template v-else>
				<TagEditForm :tag="tag" />
			</template>
		</template>
	</MdCard>
</template>

<script>
import { mapState } from "vuex";
import TagEditForm from "../components/TagEditForm";
import NotFoundComponent from "../../errors/components/NotFoundComponent";

export default {
	name: "Tag",
	components: {
		NotFoundComponent,
		TagEditForm
	},
	props: {
		id: {
			required: true
		}
	},
	created() {
		this.getData();
	},
	data() {
		return {
			isLoading: false,
			hasBeenFound: false,
			tag: {
				title: null,
				description: null
			},
			editing: false
		};
	},
	computed: {
		...mapState(["accessToken"])
	},
	methods: {
		getData: function() {
			console.log("getData()\n" + this.id);
			this.isLoading = true;
			this.$http
				.get("tags/get", { params: { id: this.id } })
				.then(response => {
					console.log("RECEIVED:" + response);
					this.tag = response.data;
					document.title = "Answers - " + this.tag.title;
					this.isLoading = false;
					this.hasBeenFound = true;
				})
				.catch(error => {
					let status = error.response.status;
					if (status === 400) {
						this.hasBeenFound = false;
						this.isLoading = false;
					}
					console.log(error);
					console.log(error.response.status);
				});
		},
		deleteTag: function() {
			console.log("deleteTag()\n" + this.id);
			this.$http
				.post("/tags/delete", {
					jsonWebToken: this.accessToken,
					tagId: this.id
				})
				.then(response => {
					console.log("RECEIVED:" + response);
					this.$router.push({ name: "home" });
				})
				.catch(error => {
					console.log(error);
				});
		}
	}
};
</script>

<style scoped>
#pageTag {
	width: 30em;
	margin: 2em auto;
	padding: 2em;
	text-align: left;
}

.actionLink {
	cursor: pointer;
}
</style>
