<template>
	<div class="question">
		<div class="stats-container">
			<MdAvatar class="answered-badge md-primary">
				{{ question.points }}
			</MdAvatar>
		</div>
		<div class="summary">
			<a :href="'/questions/get/' + question.id">
				<h3>{{ question.title }}</h3>
			</a>
			<p>{{ removeMarkdown(question.gist) }}</p>
			<div class="creation-data">
				asked {{ question.creationTime }} by
				<router-link
					:to="{ name: 'account', params: { id: question.user.id } }"
				>
					{{ question.user.userName }}
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
import removeMd from "remove-markdown";

export default {
	name: "QuestionGist",
	props: ["question"],
	methods: {
		removeMarkdown: removeMd
	}
};
</script>

<style scoped>
.question {
	padding: 12px 8px;
	border-bottom: 1px solid #eff0f1;
}

.stats-container {
	float: left;
	width: 58px;
}

.summary {
	flex: 1 auto;
	width: auto;
	float: none;
	margin: 0;
	overflow: hidden;

	text-align: left;
}

.summary h3 {
	margin: 0;
	line-height: 1.3;
}
.summary p {
	margin: 0;
	font-size: small;
}

.summary .creation-data {
	float: right;
	color: dimgrey;
}
</style>
