<template>
	<MdCard id="similarQuestions" v-if="isVisible">
		<h2 class="md-caption">Similar questions</h2>
		<div class="body">
			<MdProgressSpinner v-if="isSearchingQuestions" md-mode="indeterminate" />
			<div v-else class="listItems">
				<QuestionGist
					v-for="question of questions"
					:key="question.title"
					:question="question"
					class="question"
				/>
			</div>
		</div>
	</MdCard>
</template>

<script>
import _ from "lodash";
import QuestionGist from "./QuestionGist";

export default {
	name: "SimilarQuestions",
	components: {
		QuestionGist
	},
	data() {
		return {
			isVisible: false,
			isSearchingQuestions: false,
			searchString: "",
			questions: [{ id: String, userName: String, email: String }],
			errors: ["none"]
		};
	},
	created: function() {
		this.debouncedSearch = _.debounce(this.$_SimilarQuestions_startSearch, 500);
	},
	methods: {
		updateSearchString: function(searchString) {
			this.searchString = searchString;
			this.debouncedSearch();
		},
		$_SimilarQuestions_startSearch: function() {
			this.isSearchingQuestions = true;

			this.$http
				.get("questions/search", {
					params: {
						SearchString: this.searchString
					}
				})
				.then(response => {
					console.log("response received: " + response);
					this.questions = response.data.questions;
					if (this.questions.length > 0) this.isVisible = true;
					this.isSearchingQuestions = false;
				})
				.catch(e => {
					console.log(e);
					this.errors.push(e);
				});
		}
	}
};
</script>

<style scoped>
#similarQuestions {
	margin: 24px 0;
}

#similarQuestions h2 {
	margin: 0;
	text-align: left;
}

#similarQuestions .body {
	overflow-y: scroll;
	height: 200px;
}
</style>
