<template>
	<div id="pageQuestion" v-if="question">
		<template v-if="status === Status.loading">
			<MdProgressSpinner md-mode="indeterminate" />
		</template>
		<NotFoundComponent v-else-if="status === Status.notFound" />
		<template v-else-if="status === Status.done">
			<div v-if="status === Status.loading">
				<MdProgressSpinner md-mode="indeterminate" />
			</div>
			<div v-if="status === Status.done">
				<div class="header md-elevation-1">
					<h1>{{ question.title }}</h1>
					<div class="history-bar">
						<span>Asked {{ question.creationDate }}</span>
						<span>Active 23 days ago</span>
						<span>Viewed 1.2m times</span>
					</div>
				</div>
				<div class="main-bar">
					<Post :post="question.post" v-bind:tags="question.tags" />
					<div id="answers">
						<div id="answers-header">
							<h2>{{ question.answers.length }} Answers</h2>
						</div>
						<MdDivider />

						<Post
							v-for="answer of question.answers"
							:key="answer.id"
							:post="answer"
							class="answer"
						/>
					</div>

					<div class="post-answer-area">
						<div id="header">
							<h2>Your answer</h2>
							<MarkdownEditor ref="MarkdownEditor" />
							<div id="confirmationButtonArea">
								<MdButton v-on:click="postAnswer()" class="md-raised md-primary"
									>Post your answer</MdButton
								>
							</div>
						</div>
						<MdDivider />
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import NotFoundComponent from "../../errors/components/NotFoundComponent";
import Post from "../components/Post";
import MarkdownEditor from "../../plugins/markdown/MarkdownEditor";
import { mapState } from "vuex";

const Status = { opened: 0, loading: 1, notFound: 2, done: 3 };

export default {
	name: "Question",
	components: {
		NotFoundComponent,
		Post,
		MarkdownEditor
	},
	props: {
		id: {
			required: true
		}
	},
	async created() {
		this.getQuestionData();
	},
	data() {
		return {
			Status: Status,
			status: Status.opened,
			question: {
				title:null,
				creationDate: null,
				answers: null
			}
		};
	},
	computed: {
		...mapState(["accessToken"])
	},
	methods: {
		getQuestionData: function() {
			console.log("getQuestionData()\n" + this.id);
			this.status = Status.loading;
			this.$http
				.get("/questions/view", {
					params: {
						jsonWebToken: this.accessToken,
						id: this.id,
						gistLength: 100
					}
				})
				.then(response => {
					console.log("RECEIVED:" + JSON.stringify(response));
					this.question = response.data;
					this.status = Status.done;
					document.title = "Answers - " + response.data.title;
				})
				.catch(error => {
					console.log(error);
				});
		},
		postAnswer: function() {
			let markdown = this.$refs.MarkdownEditor.markdown;
			console.log("postAnswer()\n" + markdown);
			this.$http
				.post("/answers/create", {
					JsonWebToken: this.accessToken,
					questionId: this.question.id,
					content: markdown
				})
				.then(response => {
					console.log(response);
					this.getQuestionData();
				})
				.catch(error => {
					console.log(error);
				});
		}
	}
};
</script>

<style scoped>
#pageQuestion {
	width: 600px;
	margin: 0 auto;
	border: 1px solid rgba(41, 13, 13, 0.12);
	text-align: left;
}
#pageQuestion .header {
	padding: 24px;
	margin-bottom: 16px;
}
#pageQuestion .main-bar {
	padding: 24px;
}

#question .activity a {
	padding: 0 3px 2px;
}

#answers-header {
	margin-top: 24px;
}
</style>
