<template>
	<router-link :to="{ name: 'account', params: { id: user.id } }">
		<MdCard class="user-badge md-elevation-1">
			<MdAvatar class="md-accent">
				{{ user.userName.charAt() }}
			</MdAvatar>
			{{ user.userName }} - {{ user.points }}
		</MdCard>
	</router-link>
</template>

<script>
export default {
	name: "AccountBadge",
	props: {
		user: { id: String, username: String, emailaddress: String }
	}
};
</script>

<style scoped>
.user-badge {
	height: 48px;
	width: 150px;
	padding: 5px;
	margin: 0 1em;
	float: right;
}
.user-badge a {
	color: white;
}
</style>
