<template>
	<div class="activity">
		<div class="action-menu">
			<a href>share</a>
			<a href>edit</a>
			<a href>flag</a>
		</div>

		<AccountBadge :user="post.lastChangeAuthor" />

		<AccountBadge :user="post.creator" />
	</div>
</template>

<script>
import AccountBadge from "../../accounts/components/AccountBadge";

export default {
	name: "ActivityBar",
	components: {
		AccountBadge
	},
	props: {
		post: {
			id: "",
			creationDate: "",
			creator: { id: "", userName: "", emailAddress: "" },
			lastChangeAuthor: { id: "", userName: "", emailAddress: "" }
		},
		tags: Array
	}
};
</script>

<style scoped>
.activity {
	margin-top: 16px;
}
.activity a {
	padding: 0 3px 2px;
}
</style>
