<template>
	<div class="comment-section">
		<div v-for="comment of post.comments" :key="comment.id" class="comment">
			{{ comment.content }}
			<span>- {{ comment.creationDate }} by {{ comment.user.userName }}</span>
			<MdDivider />
		</div>
	</div>
</template>

<script>
export default {
	name: "CommentSection",
	props: {
		post: {
			comments: [
				{
					content: "",
					creationDate: "2019-09-09T08:38:15.5337287",
					user: { id: "", userName: "", emailAddress: "" }
				}
			]
		}
	}
};
</script>

<style scoped>
.comment-section {
	margin-top: 2em;
	margin-bottom: 2em;
}

.comment-section .comment span {
	color: grey;
}
</style>
