<template>
	<div class="post md-layout">
		<VoteArea :post="post" />

		<div class="main-area md-layout-item">
			<div class="body">
				<Viewer :value="post.content" />
			</div>
			<div class="tag-list" v-if="tags">
				<TagChip v-for="tag of tags" :key="tag.id" :tag="tag" />
			</div>

			<ActivityBar :post="post" />

			<CommentSection :post="post" />
		</div>
		<MdDivider />
	</div>
</template>

<script>
import "tui-editor/dist/tui-editor-contents.css";
import "highlight.js/styles/github.css";
import VoteArea from "./VoteArea";
import Viewer from "@toast-ui/vue-editor/src/Viewer.vue";
import TagChip from "./TagChip";
import ActivityBar from "./ActivityBar";
import CommentSection from "./CommentSection";

export default {
	name: "Posting",
	components: {
		VoteArea,
		Viewer,
		TagChip,
		ActivityBar,
		CommentSection
	},
	props: {
		post: {
			id: "",
			votes: 42,
			ownVote: 0,
			content: "",
			creationDate: "",
			creator: { id: "", userName: "", emailAddress: "" },
			lastChangeAuthor: { id: "", userName: "", emailAddress: "" },
			comments: [
				{
					content: "",
					creationDate: "2019-09-09T08:38:15.5337287",
					user: { id: "", userName: "", emailAddress: "" }
				}
			]
		},
		tags: Array
	}
};
</script>

<style scoped>
.post .body {
	margin-bottom: 1em;
}
</style>
