<template>
	<MdChip>
		<router-link :to="{ name: 'tag', params: { id: tag.id } }">
			{{ tag.title }}
		</router-link>
	</MdChip>
</template>

<script>
export default {
	name: "TagChip",
	props: {
		tag: {
			id: null,
			title: null,
			description: null
		}
	}
};
</script>

<style scoped></style>
