<template>
	<div class="vote-area md-layout-item md-size-15">
		<a @click="placeVote(1)">
			<MdAvatar v-if="post.ownVote > 0" class="md-avatar-icon md-primary">
				<MdIcon class="md-icon md-icon-font">thumb_up</MdIcon>
			</MdAvatar>
			<MdAvatar v-else class="md-avatar-icon">
				<MdIcon class="md-icon md-icon-font">thumb_up</MdIcon>
			</MdAvatar>
		</a>
		<div class="md-headline">{{ post.points }}</div>
		<a @click="placeVote(-1)">
			<MdAvatar v-if="post.ownVote < 0" class="md-avatar-icon md-primary">
				<MdIcon class="md-icon md-icon-font">thumb_down</MdIcon>
			</MdAvatar>
			<MdAvatar v-else class="md-avatar-icon">
				<MdIcon class="md-icon md-icon-font">thumb_down</MdIcon>
			</MdAvatar>
		</a>
	</div>
</template>

<script>
export default {
	name: "VoteArea",
	props: {
		post: {
			points: 42,
			ownVote: 0
		}
	},
	methods: {
		placeVote: function(value) {
			console.log("place vote");
			let post = this.post;

			this.$http
				.post("questions/vote", {
					JsonWebToken: this.$globalStore.getCookieData().getJwt(),
					postId: this.post.id,
					value: value
				})
				.then(function(response) {
					console.log(response);
					let difference = value - post.ownVote;
					post.points += difference;
					post.ownVote = value;
				})
				.catch(function(error) {
					console.log(error);
				});
		}
	}
};
</script>

<style scoped>
.vote-area {
	text-align: center;
}
</style>
