<template>
	<div id="app">
		<Header />
		<div id="body"><router-view /></div>
		<Footer />
	</div>
</template>

<script>
import "vue-material/dist/vue-material.min.css";
import "vue-material/dist/theme/default.css";
import Header from "./layout/components/Header";
import Footer from "./layout/components/Footer";
import { mapActions } from "vuex";

document.title = "Answers";

export default {
	name: "App",
	components: {
		Header,
		Footer
	},
	methods: {
		...mapActions(["fetchAccessToken"])
	},
	created() {
		this.fetchAccessToken();
	}
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
	font-family: "Roboto Condensed", sans-serif;
}

#app {
	font-family: "Roboto Condensed", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

.md-button {
	font-family: Roboto, sans-serif;
	font-weight: bold;
}
</style>
