<template>
	<div class="markdown-editor">
		<Editor v-model="markdown" mode="wysiwyg" />
	</div>
</template>

<script>
import "tui-editor/dist/tui-editor.css";
import "tui-editor/dist/tui-editor-contents.css";
import "codemirror/lib/codemirror.css";
import Editor from "@toast-ui/vue-editor/src/Editor.vue";

export default {
	name: "MarkdownEditor",
	components: {
		Editor
	},
	data() {
		return {
			markdown: ""
		};
	}
};
</script>

<style scoped>
#markdown-editor{
	text-align: left;
}

</style>
