<template>
	<form @submit.prevent="save()">
		<md-field>
			<md-input
				v-model="title"
				type="text"
				placeholder="Enter a title..."
				required
			/>
		</md-field>

		<md-field>
			<md-input
				v-model="description"
				type="text"
				placeholder="Enter a username..."
				required
			/>
		</md-field>

		<div id="confirmationButtonArea" class="md-card-actions md-alignment-right">
			<MdButton class="md-primary" type="submit">Save</MdButton>
		</div>
	</form>
</template>

<script>
	import {mapState} from "vuex";

export default {
	name: "TagEditForm",
	props: {
		tag:{
			id: null,
			title: null,
			description: null
		}
	},
	data() {
		return {
			title: "",
			description: ""
		};
	},
	created(){
		this.title = this.tag.title;
		this.description = this.tag.description;
	},
	computed: {
		...mapState(["accessToken"])
	},
	methods: {
		save: function() {
			console.log("save()\n" + this.id);
			this.$http
				.post("/tags/update", {
					jsonWebToken: this.accessToken,
					id: this.id,
					title: this.title,
					description: this.description
				})
				.then(response => {
					console.log("RECEIVED:" + response);
					document.title = "Answers - " + this.tag.title;
					this.editing = false;
					this.tag.title = this.title;
					this.tag.description = this.description;
				})
				.catch(error => {
					console.log(error);
					this.editing = false;
				});
		}
	}
};
</script>

<style scoped></style>
