<template>
  <MdContent id="header" class="md-primary">
    <router-link to="/">
      <img class="logo" src="../../assets/logo.png" alt="Vue logo" />
    </router-link>

    <div v-if="userData.isLoggedIn()" @click="drawerShowing = true">
      <MdAvatar class="user-badge md-accent">{{ userData.getUserName().charAt() }}</MdAvatar>
    </div>
    <div v-else id="unidentified-user-badge">
      <router-link :to="{ name: 'accountLogin', params: {origin: location} }" class="md-tex">SIGN IN</router-link>
      <router-link :to="{ name: 'accountRegister' }">SIGN UP</router-link>
    </div>

    <MdDrawer v-bind:md-active.sync="drawerShowing" class="md-right">
      <router-link
        v-if="userData.isAdmin()"
        :to="{ name: 'AdminDashboard' }"
        @click="drawerShowing = false"
      >admin</router-link>
      <div v-on:click="logOut()">
        <router-link to="{ name: 'home' }">LOGOUT</router-link>
      </div>
    </MdDrawer>
  </MdContent>
</template>

<script>
import { mapState, mapActions } from "vuex";
import JsonWebToken from "../data/JsonWebToken";

export default {
  name: "Header",
  data() {
    return {
      drawerShowing: false,
      location: window.location.pathname
    };
  },
  computed: {
    ...mapState(["accessToken", "loginError", "user"]),
    userData: function() {
      let token = this.accessToken;
      return JsonWebToken.CreateFromString(token);
    }
  },
  methods: {
    ...mapActions(["deleteAccessToken"]),
    logOut: function() {
      this.deleteAccessToken();
      this.drawerShowing = false;
    }
  }
};
</script>

<style scoped>
#header {
  height: 64px;
  padding: 12px;
}

#header .logo {
  max-height: 100%;
  float: left;
}

#header .user-badge {
  float: right;
  cursor: pointer;
}

#unidentified-user-badge {
  float: right;
}

#unidentified-user-badge a {
  color: white;
  line-height: 2.1;
  margin-right: 1em;
  font-size: large;
}
</style>
