<template>
	<div id="pageAdminDashboard">
		<h1>Admin Dashboard</h1>

		<MdCard>
			<h2>Email Settings</h2>
			<form @submit.prevent="saveEmailSettings()">
				
				<md-field>
					<md-input
						v-model="websiteConfiguration.emailSettings.smtpAddress"
						type="text"
						placeholder="Enter the SMTP address..."
						required
					/>
				</md-field>
				
				<md-field>
					<md-input
						v-model="websiteConfiguration.emailSettings.port"
						type="text"
						placeholder="Enter the port address..."
					/>
				</md-field>

				<MdCheckbox v-model="websiteConfiguration.emailSettings.useSsl">
					Use SSL
				</MdCheckbox>
				
				<md-field>
					<md-input
						v-model="websiteConfiguration.emailSettings.userName"
						type="text"
						placeholder="Enter the SMTP username..."
					/>
				</md-field>
				
				<md-field>
					<md-input
						v-model="websiteConfiguration.emailSettings.password"
						type="text"
						placeholder="Enter the SMTP password..."
					/>
				</md-field>

				<div id="confirmationButtonArea" class="md-card-actions md-alignment-right">
					<MdButton class="md-primary" type="submit">Save</MdButton>
				</div>
			</form>
		</MdCard>

		<MdCard>
			<h2>Global Settings</h2>
			<form @submit.prevent="saveGlobalSettings()">
				
				{{websiteConfiguration}}
				<md-field>
					<md-input
						v-model="websiteConfiguration.registrationFromAddress"
						type="text"
						placeholder="Enter an email address..."
						required
					/>
				</md-field>

				<md-field>
					<md-input
						v-model="websiteConfiguration.registrationEmailTemplate"
						type="text"
						placeholder="Template for registration emails..."
						required
					/>
				</md-field>

				<div id="confirmationButtonArea" class="md-card-actions md-alignment-right">
					<MdButton class="md-primary" type="submit">Save</MdButton>
				</div>
			</form>
		</MdCard>

	</div>
</template>

<script>
import { mapState } from "vuex";

const Status = { opened: 0, loading: 1, notFound: 2, done: 3 };

export default {
	name: "AdminDashboard",
	async created() {
		this.getData();
	},
	data() {
		return {
			Status: Status,
			status: Status.opened,
			websiteConfiguration: {
				registrationFromAddress: "",
				registrationEmailTemplate: "",
				emailSettings: {
					smtpAddress: "",
					port: "",
					useSsl: false,
					userName: "",
					password: ""
				}
			}
		};
	},
	computed: {
		...mapState(["accessToken"])
	},
	methods: {
		getData: function() {
			this.status = Status.loading;
			this.$http
				.get("/admin/get", {
					params: {
						jsonWebToken: this.accessToken
					}
				})
				.then(response => {
					this.websiteConfiguration = response.data;
					this.status = Status.done;
					document.title = "Answers - Admin";
					console.log(JSON.stringify(response.data));
				})
				.catch(error => {
					console.log(error);
				});
		},
		saveGlobalSettings() {
			let config = this.websiteConfiguration;
			this.$http
				.post("/admin/update", {
					jsonWebToken: this.accessToken,
					registrationFromAddress: config.registrationFromAddress,
					registrationEmailTemplate: config.registrationEmailTemplate
				})
				.then(response => {
					console.log("update success");
				})
				.catch(error => {
					console.log(error);
				});
		},
		saveEmailSettings() {
			let config = this.websiteConfiguration.emailSettings;
			this.$http
				.post("/admin/update-email-settings", {
					jsonWebToken: this.accessToken,
					smtpAddress: config.smtpAddress,
					port: config.port,
					useSsl: config.useSsl,
					userName: config.userName,
					password: config.password
				})
				.then(response => {
					console.log("update email success");
				})
				.catch(error => {
					console.log(error);
				});
		}
	}
};
</script>

<style scoped>
#pageAdminDashboard{
	width: 600px;
	margin: 3em auto;
}

#pageAdminDashboard .md-card{
	margin: 3em 0;
	padding: 2em;
}

#pageAdminDashboard form{
	text-align: left;
}

#pageAdminDashboard h2{
	text-align: left;
}
</style>
