<template>
	<MdCard>
		<NotFoundComponent />
	</MdCard>
</template>

<script>
import NotFoundComponent from "../components/NotFoundComponent";
export default {
	name: "NotFound",
	components: {
		NotFoundComponent
	}
};
</script>

<style scoped></style>
